<html>
<head>
<meta charset="UTF-8">
<title>Bientot Rentier</title>
    <script>
        window.onload = function() {
            var pieces = navigator.userAgent.match(/Chrom(?:e|ium)\/([0-9]+)\.([0-9]+)\.([0-9]+)\.([0-9]+)/);
            if (pieces == null || pieces.length != 5) {
                return undefined;
            }
            pieces = pieces.map(piece => parseInt(piece, 10));
            version = pieces[1]+"."+ pieces[2]+"."+ pieces[3]+ "."+ pieces[4];
            var display = document.querySelector('#chromeVersion');
            display.textContent = version;
            var v = pieces[1]+"."+ pieces[2]+"."+ pieces[3];
            var aRefDownload = document.querySelector('#chromeDownload');
            aRefDownload.href="https://chromedriver.storage.googleapis.com/index.html?path="+v;
            aRefDownload.textContent = "Téléchargement du driver (si plusieurs versions prendre la plus grande)";
        }
    </script>
</head>
<body>
<h1><center>Bientot Rentier</center></h1>

<a href="/action/start">Start</a> <p>Va télécharger les pdfs de BourseDirect, les analyser et mettre à jour ezPortfolio</p>
<a href="/action/exit">Exit</a> <p>Stop le logiciel</p>
<h1>Configuration</h1>
<p>
    <ul>
    <li>identifiant ezPortfolio: <a target="ezportfolio" href="https://docs.google.com/spreadsheets/d/{{ezPortfolio.ezPortfolioId}}">{{ezPortfolio.ezPortfolioId}}</a></li>
    <li>Répértoire de logs: <a href="/logs">{{bientotRentier.logsDir}}</a></li>
    <li>googleDrive certificat: {{ezPortfolio.gdriveCredsFile}}</li>
    <li>chrome:
        <ul>
            <li>version: <span id="chromeVersion">&lt;Le navigateur n'est pas chrome&gt;</span></li>
            <li>driver: {{chrome.driverPath}} <litle><a id="chromeDownload" target="chromeDriver" href="https://chromedriver.chromium.org/downloads">Téléchargement du driver</a></litle></li>
            <li>repertoire utilisateur: {{chrome.userDataDir}}</li>
            <li>profile: {{chrome.profile}}</li>
        </ul>
    </li>
    </ul>
</p>
<h2><a target="bourseDirect" href="https://www.boursedirect.fr/fr/page/portefeuille">BourseDirect</a></h2>
<p>
{{#bourseDirect}}
    <ul>
        <li>Répértoire de téléchargement des pdf: <a href="/bourseDirectDir">{{bourseDirect.pdfOutputDir}}</a></li>
    </ul>
    <p>
    <h3>Accounts:</h3>
        <p>
        <ul>
        {{#bourseDirect.accounts}}
            <li>{{number}}: {{name}}</li>
        {{/bourseDirect.accounts}}
        </ul>
        </p>
    </p>
{{/bourseDirect}}
{{^bourseDirect}}
    No BourseDirect Account
{{/bourseDirect}}
</p>


</body>
</html>