a {color:#000000;}         /* Unvisited link  */
a:visited {color:#000000;} /* Visited link    */
a:hover {color:#000000;}   /* Mouse over link */
a:active {color:#000000;}  /* Selected link   */
.br-tree ul{
    list-style-type: none;
}
.br-tree{
    width: 90%;
}
.justify-items-evenly{
    justify-content: space-evenly;
}
.br-tree li {
    list-style-type: none;    
}
.br-tree li.section{
    margin-left: -40px
}
.br-tree li.log{
    margin-left: -40px
}
.br-tree .submenu li{
    margin-left: -20px;
}
.br-tree span.toggler{
    float: right;
}
.br-tree div{
    text-decoration: none;
    display: block;
}
.br-tree li.section div{
    padding: 10px 5px;
    border:1px solid #ccc;
    background: #ddd
}
.br-tree li.log div{
    padding: 10px 5px;
    border:1px solid #ccc;
    background: #eee
}
div.openedItem{
    background: #0056b3!important;
    color: #fff;
}
div.error{
    background: #c55959 !important;
    color: #fff;
}
.toggler{
    transition: all 1s;
}

<script>
var idQueue = [];
var lastId = 1;
idQueue.push(lastId);

openIcon = '<span class="toggler">+</span>';
closeIcon = '<span class="toggler">-</span>';

function updateIcons(objDiv) {
    if (objDiv.hasClass('openedItem')) {
        objDiv.find('span.toggler').replaceWith(closeIcon);
    } else {
        objDiv.find('span.toggler').replaceWith(openIcon);
    }
}

function closeAll(objDiv) {
    var items = objDiv.parent().siblings().find('ul.submenu');
    items.each(function () {
        var ul = $(this).slideUp('slow').parent();
        ul.find('span.toggler').replaceWith(openIcon);
        ul.find('a').first().removeClass('openedItem');
    });
}

function pushSection(elem){
    var parentId = idQueue[idQueue.length-1];
    lastId++;
    idQueue.push(lastId);
    $('#'+parentId).append("<li class='section'><div href='#'>"+elem+openIcon+"</div><ul class='submenu' id="+lastId+"></ul></li>");
    var a = $('#'+parentId).children("li").last().children("div").first();
    show(a);

    a.bind('click', function (e) {
                           // e.preventDefault();
                            openOrClose($(this));
                        });
}

function add(elem, isError){
    var parentId = idQueue[idQueue.length-1];
    $('#'+parentId).append("<li class='log'><div href='#' "+(isError? "class='error'" : "")+">"+elem+"</div></li>");
    if (isError){
        for (i = 0; i < idQueue.length; i++){
            $('#'+idQueue[i]).parent().children('div').first().addClass('error');
        }
    }
}

function openOrClose(objDiv){
        var leaveOpen = false;
    if (leaveOpen === false) {
        closeAll(objDiv);
    }

    if (objDiv.hasClass('openedItem')) {
        hide(objDiv);
    }
    else{
        show(objDiv);
    }

    updateIcons(objDiv);
}

function hide(objDiv){
    objDiv.removeClass('openedItem');
    objDiv.siblings('ul').first().slideUp();
    updateIcons(objDiv);
}
function show(objDiv){
    objDiv.addClass('openedItem');
    objDiv.siblings('ul').first().slideDown();
    updateIcons(objDiv);
}

function popSection(){
    var sectionId = idQueue.pop();
    hide($('#'+sectionId).parent().children('div').first());
}

</script>

